<div class="page-header">
  <h1>Roles</h1>
</div>

<p><a href="/roles/new_form" class="btn btn-primary">Add a New Role</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Character name</th>
      <th>Movie ID</th>
      <th>Actor ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.character_name %></td>
        <td><%= role.movie_id %></td>
        <td><%= role.actor_id %></td>
        <td>
          <a href="/roles/<%= role.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/roles/<%= role.id %>/edit_form" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_role/<%= role.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

